/* manrope-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope_500';
    font-style: normal;
    font-weight: 500;
    src: url('../css/font_Manrope/manrope-v15-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* manrope-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope_700';
    font-style: normal;
    font-weight: 700;
    src: url('../css/font_Manrope/manrope-v15-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
.card_nav{
    display: flex;
    justify-content: center;
    gap: 717px;
    align-items: center;
    margin-top: 65px;
}
.card_right{
    display: flex;
    align-items: center;
    gap: 35px;
}
.card_right li a{
    font-size: 16px;
    color:rgba(255, 255, 255, 0.464);
    transition: all 0.5s ease;
}
.card_right li a:hover{
    color: #fff;
}
.right_lag{
    display: flex;
    align-items: center;
    gap: 10px;
    border:2px solid rgba(255, 255, 255, 1);
    padding: 14px 18px;
    border-radius: 75px;
}
.right_lag span{
    cursor: pointer;
    font-family: 'Manrope_500';
    color:rgba(255, 255, 255, 0.464);
    transition: all 0.5s ease;
}
.right_lag span:hover{
    color: #fff;
}
.card_img img{
    width: 100%;
    margin: 0px auto;
    box-sizing: border-box;
}